<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2"
      > </span
    >
    <a
      href=""
      class="text-dark-75 text-hover-primary"
      ></a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a
      href=""
      class="nav-link pl-0 pr-5"
      ></a
    >
    <a
      href=""
      class="nav-link pl-0 pr-5"
      ></a
    >
    <a
      href=""
      class="nav-link pl-0 pr-0"
      ></a
    >
  </div>
  <!--end::Nav--> 

  <div class="nav nav-dark pull-right ">
    <a
      href=""
      class="nav-link pl-0 pr-5"
      ></a
    >
    <a
      class="nav-link pl-0 pr-5"
      >ORPHELINAT DAARAY SERIGNE SALIOU </a
    >
    <a
      class="nav-link pl-0 pr-0"
      >&copy; {{ currentYear }}</a
    >
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->
